build:
  type: None
  content: ''
deploy:
  type: text
  content: |2-
     #!/bin/sh

     
    docker-compose -f nginx-flask-mongo/compose.yaml up -d
    curl localhost:64641
test: []
uninstall:
  type: None
  content: ''
dockerCompose: nginx-flask-mongo/compose.yaml
lastUpdatedBy: Bhavika Baid
lastUpdatedOn: 2023-07-25T09:03:45.982Z
