build:
  type: None
  content: ''
deploy:
  type: text
  content: |2-
     #!/bin/sh
    #test
     
    docker-compose -f nginx-flask-mongo/compose.yaml up -d
    curl localhost:64641
test: []
uninstall:
  type: None
  content: ''
dockerCompose: nginx-flask-mongo/compose.yaml
lastUpdatedBy: Bhavya Goswami
lastUpdatedOn: 2023-09-20T11:50:39.836Z
